<!DOCTYPE html>
<html class="h-full">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
        <script src="https://cdn.tailwindcss.com"></script>
    </head>

    <body class="h-full">
        <main class="min-h-full bg-gradient-to-r from-green-400 to-blue-500">
            <div class="max-w-7xl mx-auto text-center px-8 py-48">
                <p class="text-xl font-semibold text-black text-opacity-50 uppercase tracking-wide">fly machine demo</p>
                <h1 class="mt-2 font-extrabold text-white tracking-tight text-8xl">Hi there</h1>
            </div>
        </main>
    </body>
</body>

</html>
